<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.4.18</string>
			<key>Key</key>
			<string>PreferenceSpecifiers:1</string>
			<key>Title</key>
			<string>App Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>17480</string>
			<key>Key</key>
			<string>PreferenceSpecifiers:2</string>
			<key>Title</key>
			<string>Build</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>PreferenceSpecifier:Log</string>
			<key>Title</key>
			<string>Logging</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>PreferenceSpecifier:Live</string>
			<key>Title</key>
			<string>Live</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>直播活动</string>
			<key>Key</key>
			<string>PreferenceSpecifier:LiveBroadcast</string>
			<key>Title</key>
			<string>直播</string>
			<key>Titles</key>
			<array>
				<string>立即直播</string>
				<string>直播活动</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>立即直播</string>
				<string>直播活动</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
